<!-- Wappler include head-page="layouts/locations" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="home" appConnect="local" -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Locations Area</h1>
        </div>
    </div>
</div>
<meta name="ac:route" content="/locations/home">