<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" components="{dmxAnimateCSS:{},dmxStateManagement:{}}" -->
<dmx-query-manager id="query1"></dmx-query-manager>
<div class="container">
    <div class="row">
        <div class="col" dmx-animate-move="">
            <div class="card border rounded rounded-1 border-danger">
                <div class="card-header">Featured</div>
                <img class="card-img-top style1" alt="Card image cap" src="/assets/images/ginger.jpg">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary" dmx-on:click="">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
<meta name="ac:route" content="/">