<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="links" appconnect="local" src="/assets/Free-Shipping-Super-Mario-Kart-Wii-Logo-2-Wallpapers-Custom-Canvas-Posters-Game-Stickers-Home-Decoration.jpg" -->
<meta name="ac:route" content="/links">
<div class="container mt-5">
    <div class="row">
        <div class="col pt-5">
            <p>A nice<a href="/responsivedemo"> paragraph</a></p>
        </div>
        <div class="col">
            <a href="/responsivedemo"><img src="/assets/Free-Shipping-Super-Mario-Kart-Wii-Logo-2-Wallpapers-Custom-Canvas-Posters-Game-Stickers-Home-Decoration.jpg"></a>
        </div>
        <div class="col">
            <a href="/responsivedemo" class="btn btn-primary">Anchor Button</a>
        </div>
    </div>
</div>