<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="loginasdate" appConnect="local" -->
<meta name="ac:route" content="/loginasdate">
<div class="container">
    <div class="row">
        <div class="col">
            <form id="form1" is="dmx-serverconnect-form" method="post" action="/api/dateasuser">
                <input id="text1" name="username" type="date" class="form-control">
                <div class="form-group mb-3 row">
                    <div class="col-sm-2">&nbsp;</div>
                    <div class="col-sm-10">
                        <button id="btn1_submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>