<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="responsivedemo" appConnect="local" -->
<meta name="ac:route" content="/responsivedemo">
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 col-xxl-3">
            <img src="/assets/images/ginger.jpg" class="img-fluid">
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xxl-3">
            <img src="/assets/images/ginger.jpg" class="img-fluid">
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xxl-3">
            <img src="/assets/images/ginger.jpg" class="img-fluid">
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xxl-3">
            <img src="/assets/images/ginger.jpg" class="img-fluid">
        </div>
    </div>
</div>