<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="resposive" appConnect="local" -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 pb-1 col-sm-6 mt-sm-5 pt-sm-3 col-lg-4 mt-lg-0 pt-lg-0 col-xl-3 col-xxl-2">
            <h1>Hello</h1>
            <img src="/assets/images/ginger.jpg" class="img-fluid">
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 col-xxl-2">
            <h1>Hello</h1>
            <img src="/assets/images/ginger.jpg" class="img-fluid">
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 col-xxl-2">
            <h1>Hello</h1>
            <img src="/assets/images/ginger.jpg" class="img-fluid">
        </div>
        <div class="col-12 col-sm-6 col-xl-3 col-xxl-2">
            <h1>Hello</h1>
            <img src="/assets/images/ginger.jpg" class="img-fluid">
        </div>
        <div class="col-12 col-sm-6 col-xxl-2">
            <h1>Hello</h1>
            <img src="/assets/images/ginger.jpg" class="img-fluid">
        </div>
        <div class="col-12 col-sm-2">
            <h1>Hello</h1>
            <img src="/assets/images/ginger.jpg" class="img-fluid">
        </div>
    </div>
</div>
<meta name="ac:route" content="/resposive">