<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="summernote" appConnect="local" components="{dmxSummernote:{}}" jquery_slim_35="cdn" -->
<meta name="ac:route" content="/summernote">
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <form id="form1">
                <div id="editor1" is="dmx-summernote" dmx-bind:toolbar="[['style',['style']],['font',['bold','underline','clear']],['fontname',['fontname']],['color',['color']],['para',['ul','ol','paragraph']],['table',['table']],['insert',['link','picture','video']],['view',['fullscreen','codeview','help']]]"></div>
            </form>

        </div>
    </div>
</div>