
.no-outline:focus {
    outline: none;
}
input {
        border-top-style: hidden !important;
        border-right-style: hidden !important;
        border-left-style: hidden !important;
        border-bottom-style: hidden !important;
        background-color: #eee !important;
      }