<!-- Wappler include head-page="layouts/freelance" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="home" appConnect="local" -->
<meta name="ac:route" content="/freelancer/home">
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Freelance Area</h1>
        </div>
    </div>
</div>